body{
    background-color: rgb(238, 216, 238);
    width: 100%;
    height: 100vh;
    margin: 0;
}

label{
    display: inline-block;
    margin: 0.5rem 0;
    background-color: rgb(202, 202, 253);
}